<div class="row">
    <div class="col-3" *ngFor="let item of dataService.infoGrafic">
        <app-dona-grafic [gLeyenda]="item.leyenda" [gLabels]="item.labels" [gData]="item.data"></app-dona-grafic>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <app-dona-grafic [gLeyenda]="graficos.grafico1.leyenda" [gLabels]="graficos.grafico1.labels" [gData]="graficos.grafico1.data">
        </app-dona-grafic>
    </div>
    <div class="col-6">
        <app-dona-grafic [gLeyenda]="graficos.grafico2.leyenda" [gLabels]="graficos.grafico2.labels" [gData]="graficos.grafico2.data">
        </app-dona-grafic>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <app-dona-grafic [gLeyenda]="graficos.grafico3.leyenda" [gLabels]="graficos.grafico3.labels" [gData]="graficos.grafico3.data">
        </app-dona-grafic>
    </div>
    <div class="col-6">
        <app-dona-grafic [gLeyenda]="graficos.grafico4.leyenda" [gLabels]="graficos.grafico4.labels" [gData]="graficos.grafico4.data">
        </app-dona-grafic>
    </div>
</div>